.blog-sticky-side{
    width: 400px;
    height: 100%;
    position: sticky;
    top: 10px;
}

.blog-sticky-side .filtering-container{
    width: 100%;
    margin: 15px;
}

.blog-sticky-side .filtering-container > *{
    background-color: rgb(244, 244, 244);
    text-align: start;
    width: 100%;
    margin: 15px;
    height: fit-content;
}

.blog-sticky-side .filtering-container  li{
    margin: 15px;
    padding: 10px;
    border-bottom: solid;
    border-bottom-color: white;
    border-bottom-width: 1px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.blog-sticky-side .filtering-container  li > *{
    margin: 7px
}


.blog-sticky-side .recent-posts img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.blog-sticky-side .recent-posts li a {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.blog-sticky-side  li a:hover {
    color: red;
}

.blog-sticky-side .recent-posts li a  > *{
    margin: 7px;
}

.blog-sticky-side .recent-posts .details-container p {
    font-size: 16px;
}

.blog-sticky-side .recent-posts .details-container h6 {
    font-size: 18px;
}

.blog-sticky-side .advert{
    height: 550px
}

@media screen and (max-width: 600px) {
    .blog-sticky-side{
        width: 100%;
    }

    .blog-sticky-side .filtering-container{
        margin: auto
    }
}