.home-about > *{
    width: 500px;
    height: 600px;
    margin: 15px;
}

.home-about .image-container{
    width: 500px;
    height: 500px;
}

.home-about img{
    border-radius: 50%;
}

@media screen and (max-width: 1200px) {
    .home-about .image-container{
        height: 350px;
        width: 350px;
    }
}
