.pricing-chart{
    background-color: rgb(243, 243, 243);
}

.plan{
    width: 350px;
    height: 520px;
    border: solid;
    border-width: 2px;
    text-align: center;
    margin: 15px;
    color: black;
    background-color: white;
    border-radius: 5px;
    border: none;
}

.plan > *{
    margin: 20px;
    text-align: start;
}


.plan a{
    background-color: red;
    color: white;
    padding: 4% 5%;
}

.plan .purchase-btn{
    margin-top: 50px;
}


.plan li{
    margin: 10px 0;
    text-align: start;
}

.plan .pricing{
    font-size: 40px;
    font-weight: bold;
    background-color: white;
}

.pricing-chart .flex-row-center{
    margin-top: 50px
}