.navbar{
    background-color: black;
}

.navbar-brand{
    color: aliceblue;
}

.navbar-toggler{
    border: solid;
    border-color: white;
    color: white;
}

.me-auto a{
    margin:0 15px;
    text-decoration: none;
    color: aliceblue;
}

.me-auto a:hover{
    border-bottom: solid;
    border-color: red;
}

.me-auto a:active, .me-auto a:focus{
    color: red;
}

.offcanvas{
    background-color: black;
    color: white;
}

.offcanvas a{
    margin: 15px;
}

.offcanvas-header{
    margin: auto;
    font-size: 40px;
}