.trainer-image{
    width: 350px;
    height: 500px;
    margin: 15px;
    background-color: black;
    color: white;
    text-align: center;
    position: sticky;
    top: 100px;
    border-radius: 10px;
}

.trainer-image p{
    text-align: center;
}

.trainer-image .image-container{
    width: 300px;
    height: 300px;
    margin: 15px auto;
}

.trainer-image img{
    border-radius: 50%;
}

.trainer-image i{
    background-color: white;
    font-size: 18px;
    padding: 10px;
    border-radius: 50%;
    color: black;
    margin: 5px;
}