.landing{
    padding: 25% 0;
    background-color: #f7f3f3;
    position: relative;
    background-image: url(https://images.unsplash.com/photo-1574680096145-d05b474e2155?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-repeat: no-repeat;
    background-size: cover;
}

.landing .intro{
    position: absolute;
    top: 40%;
    left: 15%;
    color: aliceblue;
}

.landing .intro > *{
    margin: 15px 0;
}

.landing .intro .bi{
    font-size: 20px;
}

.landing .intro p{
    background-color: red;
    width: fit-content;
    margin: auto;
    padding: 0 1%;
}

.link-btn{
    padding: 2% 5%;
    background-color: red;
    color: aliceblue;
}


@media screen and (max-width: 1200px) {
    .landing{
        height: 600px;
    }
}