.checkout .order-history{
    position: sticky;
    top: 100px;
    max-width: 800px;
    margin: 15px;
}

.checkout .order-history .totals{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 700px;
    margin: auto;
    padding: 10px 0;
}

.checkout .main-content > *{
    margin: 15px;
}

.order-btn{
    width: 100%;
    padding: 10px;
    border: none;
    background-color: red;
    color: white;
    border-radius: 5px;
}