.top-trainers{
    background-color: black;
    color: white;
}

.top-trainers .top-trainer{
    width: 300px;
    height: fit-content;
    border-radius: 10px;
    background-color: inherit;
    margin: 15px;
}

.top-trainers .top-trainer:hover{
    background-color: white;
    color: red;
}

.top-trainers img{
    height: 300px;
    border-radius: 50%;
    margin-bottom: 10px;
}
